#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Vendor USBFake Driver"
#define VER_INTERNALNAME_STR        "VendorUsbFake.sys"
#define VER_ORIGINALFILENAME_STR    "VendorUsbFake.sys"

#include "common.ver"

MofResourceName MOFDATA bulkusb.bmf

